<div>
    <h2 mat-dialog-title>Agregar proyecto</h2>
    <hr />
    <mat-dialog-content>
        <form-wizard>
            <wizard-step [title]="'Información básica'" [isValid]="form.valid" (onNext)="onStep1Next($event)">
                <form [formGroup]="form">

                    <div class="form-div">
                        <mat-form-field appearance="standard" class="input">
                            <mat-label>Nombre</mat-label>
                            <input matInput placeholder="Nombre del proyecto" formControlName="name" maxlength="20" />
                            <mat-error *ngIf="hasError('name', 'required')">Debe ingresar un nombre para el proyecto
                            </mat-error>
                            <mat-hint></mat-hint>
                        </mat-form-field>
                        <mat-form-field appearance="standard" class="input">
                            <mat-label>Descripcion</mat-label>
                            <input matInput placeholder="Descripcion del proyecto" formControlName="description"
                                maxlength="20" />
                            <mat-error *ngIf="hasError('description', 'required')">Debe ingresar una descripcion para el
                                proyecto
                            </mat-error>
                            <mat-hint></mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="form-div">
                        <mat-form-field appearance="standard" class="input">
                            <mat-label>Semestre</mat-label>
                            <mat-select formControlName="semester">
                                <mat-option [value]="1">
                                    Primavera
                                </mat-option>
                                <mat-option [value]="2">
                                    Otoño
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="hasError('semester', 'required')">Debe seleccionar un semestre para el
                                proyecto</mat-error>
                            <mat-hint></mat-hint>
                        </mat-form-field>
                        <mat-form-field appearance="standard" class="input">
                            <mat-label>Año</mat-label>
                            <input matInput type="number" placeholder="Año del proyecto" formControlName="year"
                                min="2000" max="2100" />
                            <mat-error *ngIf="hasError('year', 'required')">Debe ingresar un año para el
                                proyecto</mat-error>
                            <mat-hint></mat-hint>
                        </mat-form-field>
                    </div>
                </form>
            </wizard-step>
            <wizard-step [title]="'Buscar estudiantes'" [isValid]="seleccionarForm.valid" (onNext)="onStep2Next($event)"
                style="width: 50vh!important;">
                <form [formGroup]="seleccionarForm">
                    <div class="col-md-12">
                        <table mat-table style="width:100%" [dataSource]="dataSource" matSort class="mat-elevation-z8"
                            matSortActive="run" matSortDirection="asc" matSortDisableClear>
                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                        [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? selection.toggle(row) : null; seleccionar(row)"
                                        [checked]="selection.isSelected(row)">
                                    </mat-checkbox>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>

                            <ng-container matColumnDef="surname">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
                                <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
                            </ng-container>

                            <ng-container matColumnDef="email">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        </table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    </div>
                </form>
            </wizard-step>
            <wizard-step [title]="'Asignar roles'" [isValid]="asignarForm.valid" (onNext)="onStep2Next($event)">
                <form [formGroup]="asignarForm">
                    <div class="row">

                    </div>
                </form>
            </wizard-step>
        </form-wizard>
    </mat-dialog-content>
</div>
