<div class="modal-header">
    <h4 class="modal-title" id="modal-title">{{ (!edit)? 'Nuevo':'Modificación' }}  caso de prueba </h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
    (click)="onCloseCancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="form">
        <div class="row">
            <div class="col-md-6 form-group mb-0">
                <label for="firstName">Codigo</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">CP</span>
                    </div>
                    <input type="number" class="form-control" formControlName="code" aria-describedby="basic-addon3">
                </div>
            </div>
            <div class="col-md-6 form-group mb-3">
                <label for="firstName">Estado</label>
                <select class="form-control" formControlName="status">
                    <option value="" disabled="true" [selected]="true">Seleccione el estado</option>
                    <option [value]="0">Incompleto</option>
                    <option [value]="1">Completo</option>
                </select>
            </div>
            <!--<div class="col-md-4 form-group mb-3">
                <label for="firstName">Referencia Requerimiento de usuario </label>
                <select class="form-control" formControlName="user_requirement_id" >
                    <option value="" disabled="true" [selected]="true">Seleccione la referencia</option>
                    <option *ngFor="let item of userRequirements" [value]="item.id">RU{{item.internalId | number: '2.0'}}</option>
                </select>
            </div>-->
                <div class="col-md-12 form-group mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Descripción</span>
                        </div>
                        <textarea class="form-control" aria-label="With textarea" formControlName="description" ></textarea>
                    </div>
                </div>
            <div class="col-md-12 form-group mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Resultado Aceptable </span>
                    </div>
                    <textarea class="form-control" aria-label="With textarea" formControlName="acceptableResult"></textarea>
                </div>
            </div>
            <div class="col-md-12 form-group mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Resultado optimo</span>
                    </div>
                    <textarea class="form-control" aria-label="With textarea" formControlName="optimumResult"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" (click)="onCloseCancel()" class="btn btn-secondary m-1">Cancelar</button>
    <button type="button" (click)="onCloseConfirm()" class="btn btn-outline-primary m-1">Aceptar</button>
</div>
