<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>

	<title>Aprodes</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

</head>

<body>

	<!-- Header -->
	<header id="header">
		<div class="inner">


			<a href="index.html" class="logo" style="width: 5%;"><img src="../../../assets/images/icono-logo.png" /></a>
			<nav id="nav">
				<a href="#">Inicio</a>
				<a href="#">Acerca de</a>
				<a href="#">Servicio</a>
				<a href="#">Contacto</a>
			</nav>
			<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
		</div>
	</header>

	<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<header>
				<h1>Trabaja con tu equipo</h1>
			</header>
			<div class="flex ">

				<div>
					<span class="icon fa-users" style="color:powderblue;"></span>
					<h3>Incrementa tu productividad</h3>
					<p></p>
				</div>

				<div>
					<span class="icon fa-pencil" style="color:powderblue;"></span>
					<h3>Revisa avances</h3>
					<p></p>
				</div>

				<div>
					<span class="icon fa-home" style="color:powderblue;"></span>
					<h3>Trabaja desde tu hogar</h3>
					<p></p>
				</div>



			</div>


			<footer>
				<a routerLink="/sessions/signin" class="button">Iniciar Sesión</a>
			</footer>
		</div>
		
		<div>
			<span class="icon fa-angle-down" aria-hidden="true" style="color:powderblue;"></span>
		</div>
	</section>


	<!-- Three -->
	<section id="three" class="wrapper align-center">
		<div class="inner">
			<div class="flex flex-2">
				<article>
					<div class="image round">
						<img src="../../../assets/images/pic01.jpg" alt="Pic 01" />
					</div>
					<header>
						<h3>Coordinación<br /> con tu equipo</h3>
					</header>
					<p>Trabaja en múltiples proyectos desde<br />la comodidad de tu hogar.</p>
					<footer>
						<!--a href="#" class="button">Ver más</a-->
					</footer>
				</article>
				<article>
					<div class="image round">
						<img src="../../../assets/images/pic02.jpg" alt="Pic 02" />
					</div>
					<header>
						<h3>Cumple tus<br /> objetivos</h3>
					</header>
					<p>Esta herramienta de trabajo <br />potenciará tus proyectos y optimizará tu tiempo.</p>
					<footer>
						<!--a href="#" class="button">Ver más</a-->
					</footer>
				</article>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer id="contact">
		<div class="inner">

			<h3>Contáctanos</h3>

			<form action="#" method="post">

				<div class="field half first">
					<label for="name">Nombre</label>
					<input name="name" id="name" type="text" placeholder="Nombre">
				</div>
				<div class="field half">
					<label for="email">Email</label>
					<input name="email" id="email" type="email" placeholder="Email">
				</div>
				<div class="field">
					<label for="message">Mensaje</label>
					<textarea name="message" id="message" rows="6" placeholder="Mensaje"></textarea>
				</div>
				<ul class="actions">
					<li><input value="Enviar" class="button alt" type="submit"></li>
				</ul>
			</form>

			<div class="copyright">
				© Universidad de Talca | Facultad de Ingeniería 2020
			</div>

		</div>
	</footer>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>