<div class="breadcrumb">
    <h1>Cursos</h1>
    <ul>
        <li>Administrar Cursos</li>
    </ul>
</div>
<div class="separator-breadcrumb border-top"></div>
<div class="module-loader" *ngIf="loading">
    <div class="spinner spinner-bubble spinner-bubble-primary mr-3"></div>
</div>
<div class="row">
    <div class="col-lg-8 col-md-12">
        <!-- CARD ICON -->
        <div class="row">
            <div class="col-lg-2 col-md-6 col-sm-6">
              <div class="card card-icon mb-4">
                  <div class="card-body text-center">
                      <i class="i-Address-Book"></i>
                      <div id="divAncho">
                        <p class="text-muted mt-2 mb-2"> Nuevo Curso </p>
                      </div>
                      <button _ngcontent-tkm-c169="" class="btn btn-primary btn-rounded" (click)="openAddDialog()" > Agregar </button>
                  </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
              <div class="card card-icon mb-4">
                  <div class="card-body text-center">
                      <i class="i-Add-User"></i>
                      <div id="divAncho">
                        <p class="text-muted mt-2 mb-2"> Asignar P. Huesped </p>
                      </div>
                      <button _ngcontent-tkm-c169="" class="btn btn-primary btn-rounded" (click)="addGuestTeacher(addGuestTeacherConfirmModal, $event)" > Agregar </button>
                  </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
              <div class="card card-icon mb-4">
                  <div class="card-body text-center">
                      <i class="i-Add-User"></i>
                      <div id="divAncho">
                        <p class="text-muted mt-2 mb-2"> Asignar Ayudante</p>
                      </div>
                      <button _ngcontent-tkm-c169="" class="btn btn-primary btn-rounded" (click)="addHelper(addHelperConfirmModal, $event)" > Agregar </button>
                  </div>
              </div>
            </div>
        </div>
</div>



    <div class="col-md-12">
      <div class="card o-hidden mb-4">
          <ngx-datatable style="height: calc(100vh - 270px); box-shadow: none" class="material fullscreen"
              [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="60" [scrollbarV]="true"
              [scrollbarH]="true" [limit]="10" [rows]="cursos" [loadingIndicator]="loading">

              <ngx-datatable-column name="name" [flexGrow]="25">
                  <ng-template ngx-datatable-header-template>
                      <label>
                          Nombre del curso
                      </label>
                  </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="year" [flexGrow]="25">
                  <ng-template ngx-datatable-header-template>
                      <label>
                          Año del curso
                      </label>
                  </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="semester" [flexGrow]="25">
                  <ng-template ngx-datatable-header-template>
                      <label>
                          Semestre del curso
                      </label>
                  </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="idUser" [flexGrow]="20">
                  <ng-template ngx-datatable-header-template>
                      <label>
                          Profesor a cargo
                      </label>
                  </ng-template>
                  <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                   {{ row.user.name + ' ' + row.user.surname }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [cellClass]="'va-middle'" name="Accion" [flexGrow]="5" [sortable]="false" prop="id">
                  <ng-template ngx-datatable-cell-template let-value="value">
                      <button class="btn btn-sm btn-outline-danger" (click)="deleteData(value, deleteConfirmModal, $event)"><i
                          class="i-Close-Window icon-md"></i></button>
                  </ng-template>
                </ngx-datatable-column>
          </ngx-datatable>
      </div>
  </div>





<!-- VENTANA MODAL QUE SE DESPLEGA PARA CONFIRMAR LA ELIMINACIÓN DE UN DATO-->
<ng-template #deleteConfirmModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">Eliminación de usuario</h4>
      <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
        (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p><strong>¿Estas seguro de querer eliminar este usuario?</strong></p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary btn-rounded"
        (click)="modal.dismiss('cancel')">Cancelar</button>
      <button type="button" ngbAutofocus class="btn btn-danger btn-rounded"
        (click)="modal.close('Ok')">Borrar</button>
    </div>
  </ng-template>

  <!-- VENTANA MODAL QUE SE DESPLEGA PARA AGREGAR UN CURSO -->
<ng-template #addCourseConfirmModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Agregar un Curso</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addCourseForm" (ngSubmit)="addCourseOnSubmit()" >
      <table class="table">
        <tbody>
        <tr>
          <td>Nombre:</td>
          <td><input type="text" formControlName="name" ng-model="email.text" size="25" maxlength="100" required></td>
        </tr>
        <tr>
          <td>Año:</td>
          <td><input type="number" formControlName="year" ng-model="email.text" size="25" maxlength="100" required></td>
        </tr>
        <tr>
          <td>Semestre:</td>
          <td>
            <div>
              <select class="form-control" id="UserType" formControlName="semester" required>
                <option value="" selected disabled> Seleccionar Opcion</option>
                <option value="s1"> 1 </option>
                <option value="s2"> 2 </option>
              </select>
            </div>
          </td>
        </tr>
        <tr>
          <td>Profesor:</td>
          <td>
            <div>
              <select class="form-control" id="UserType" formControlName="teacher" required>
                <option value="" selected disabled> Seleccionar Opcion</option>
                <option value="admin"> Profe 1</option>
                <option value="admin2"> Profe 2</option>
                <option value="admin3"> Profe 3</option>
                <option value="admin4"> Profe 4</option>
                <option value="admin5"> Profe 5</option>
              </select>
            </div>
          </td>
        </tr>

        </tbody>
      </table>
      <div *ngIf="!checked">
          <label style="color:red;"><b>* Todos los campos deben ser completados.</b></label>
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button type="button" ngbAutofocus class="btn btn-primary btn-rounded"
      (click)="((this.addCourseForm.invalid)?checked=false:modal.close('Ok'))">Agregar </button>
    <button type="button" class="btn btn-danger btn-rounded"
      (click)="modal.dismiss('cancel')">Cancelar</button>
  </div>
</ng-template>

  <!-- VENTANA MODAL QUE SE DESPLEGA PARA AGREGAR ASIGNAR UN PROFESOR GUESPED-->
  <ng-template #addGuestTeacherConfirmModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">Asignar profesor GUESPED</h4>
      <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
        (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="addGuestTeacherForm" (ngSubmit)="addGuestTeacherOnSubmit()" >
        <table class="table">
          <tbody>
          <tr>
            <td>Profesor:</td>
            <td>
              <div>
                <select class="form-control" id="UserType" formControlName="guestTeacher" required>
                  <option value="" selected disabled> Seleccionar Opcion</option>
                  <option value="admin"> Profe 1</option>
                  <option value="admin2"> Profe 2</option>
                  <option value="admin3"> Profe 3</option>
                  <option value="admin4"> Profe 4</option>
                  <option value="admin5"> Profe 5</option>
                </select>
              </div>
            </td>
          </tr>
          <tr>
            <td>Curso:</td>
            <td>
              <div>
                <select class="form-control" id="UserType" formControlName="course" required>
                  <option value="" selected disabled> Seleccionar Opcion</option>
                  <option value="admin"> Curso 1</option>
                  <option value="admin2"> Curso 2</option>
                  <option value="admin3"> Curso 3</option>
                  <option value="admin4"> Curso 4</option>
                  <option value="admin5"> Curso 5</option>
                </select>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="!checked">
            <label style="color:red;"><b>* Todos los campos deben ser completados.</b></label>
        </div>
      </form>

    </div>
    <div class="modal-footer">
      <button type="button" ngbAutofocus class="btn btn-primary btn-rounded"
        (click)="((this.addCourseForm.invalid)?checked=false:modal.close('Ok'))">Agregar </button>
      <button type="button" class="btn btn-danger btn-rounded"
        (click)="modal.dismiss('cancel')">Cancelar</button>
    </div>
  </ng-template>

  <!-- VENTANA MODAL QUE SE DESPLEGA PARA AGREGAR ASIGNAR UN PROFESOR AYUDANTE-->
  <ng-template #addHelperConfirmModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">Asignar un ayudante</h4>
      <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
        (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="addHelperForm" (ngSubmit)="addHelperOnSubmit()" >
        <table class="table">
          <tbody>
          <tr>
            <td>Ayudante:</td>
            <td>
              <div>
                <select class="form-control" id="UserType" formControlName="helper" required>
                  <option value="" selected disabled> Seleccionar Opcion</option>
                  <option value="admin"> Ayudante 1</option>
                  <option value="admin2"> Ayudante 2</option>
                  <option value="admin3"> Ayudante 3</option>
                  <option value="admin4"> Ayudante 4</option>
                  <option value="admin5"> Ayudante 5</option>
                </select>
              </div>
            </td>
          </tr>
          <tr>
            <td>Curso:</td>
            <td>
              <div>
                <select class="form-control" id="UserType" formControlName="course" required>
                  <option value="" selected disabled> Seleccionar Opcion</option>
                  <option value="admin"> Curso 1</option>
                  <option value="admin2"> Curso 2</option>
                  <option value="admin3"> Curso 3</option>
                  <option value="admin4"> Curso 4</option>
                  <option value="admin5"> Curso 5</option>
                </select>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="!checked">
            <label style="color:red;"><b>* Todos los campos deben ser completados.</b></label>
        </div>
      </form>

    </div>
    <div class="modal-footer">
      <button type="button" ngbAutofocus class="btn btn-primary btn-rounded"
        (click)="((this.addCourseForm.invalid)?checked=false:modal.close('Ok'))">Agregar </button>
      <button type="button" class="btn btn-danger btn-rounded"
        (click)="modal.dismiss('cancel')">Cancelar</button>
    </div>
  </ng-template>
<!-- VENTANA MODAL QUE SE DESPLEGA PARA CONFIRMAR LA ELIMINACIÓN DE UN DATO-->
<ng-template #deleteConfirmModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">Eliminación de proyecto</h4>
      <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
        (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p><strong>¿Estas seguro de querer eliminar este proyecto?</strong></p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary btn-rounded"
        (click)="modal.dismiss('cancel')">Cancelar</button>
      <button type="button" ngbAutofocus class="btn btn-wide btn-danger btn-rounded"
        (click)="modal.close('Ok')">Borrar</button>
    </div>
  </ng-template>








</div>
