<div>
    <h2 mat-dialog-title>Agregar usuario</h2>
    <hr />
    <mat-dialog-content>
        <form [formGroup]="form">

            <div class="form-div">
                <mat-form-field appearance="standard" class="input">
                    <mat-label>R.U.N</mat-label>
                    <input matInput placeholder="11111111-1" formControlName="rut" (input)="checkRun()"
                        maxlength="10" />
                    <mat-error *ngIf="hasError('rut', 'required')">Debe ingresar el run</mat-error>
                    <mat-error *ngIf="hasError('rut', 'pattern')">Debe ingresar un run válido</mat-error>
                    <mat-error *ngIf="hasError('rut', 'verificator')">El dígito verificador no corresponde al run
                        ingresado</mat-error>

                    <mat-hint></mat-hint>
                </mat-form-field>

                <mat-form-field appearance="standard" class="input">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="" formControlName="name" maxlength="30" />
                    <mat-hint></mat-hint>
                    <mat-error *ngIf="hasError('name', 'required')">Debe ingresar el nombre</mat-error>
                    <mat-error *ngIf="hasError('name', 'maxlength')">El campo tiene un largo mayor al máximo permitido
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-div">
                <mat-form-field appearance="standard" class="input">
                    <mat-label>Apellido</mat-label>
                    <input matInput placeholder="" formControlName="surname" maxlength="30" />
                    <mat-hint></mat-hint>
                    <mat-error *ngIf="hasError('surname', 'required')">Debe ingresar el apellido</mat-error>
                    <mat-error *ngIf="hasError('surname', 'maxlength')">El campo tiene un largo mayor al máximo
                        permitido</mat-error>

                </mat-form-field>

                <mat-form-field appearance="standard" class="input">
                    <mat-label>Matrícula</mat-label>
                    <input matInput placeholder="" formControlName="enrollment" maxlength="15" />
                    <mat-hint></mat-hint>
                    <mat-error *ngIf="hasError('enrollment', 'required')">Debe ingresar la matrícula</mat-error>
                    <mat-error *ngIf="hasError('enrollment', 'maxlength')">El campo tiene un largo mayor al máximo
                        permitido</mat-error>

                </mat-form-field>
            </div>

            <div class="container">
                <label>Perfil:</label>
                <mat-radio-group formControlName="profile" class="profile-form">
                    <div>
                        <mat-radio-button value="admin">Administrador</mat-radio-button>
                    </div>
                    <div>
                        <mat-radio-button value="teacher">Docente</mat-radio-button>
                    </div>
                    <div>
                        <mat-radio-button value="student">Estudiante</mat-radio-button>
                    </div>
                </mat-radio-group>
            </div>

            <div class="container">
                <mat-form-field appearance="standard">
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput placeholder="ejemplo@dominio.cl" formControlName="email" maxlength="50" />
                    <mat-error *ngIf="hasError('email', 'required')">Debe ingresar un correo</mat-error>
                    <mat-error *ngIf="hasError('email', 'email')">Debe ingresar un correo válido</mat-error>
                    <mat-error *ngIf="hasError('email', 'maxlength')">El campo tiene un largo mayor al máximo
                        permitido</mat-error>

                    <mat-hint></mat-hint>
                </mat-form-field>
            </div>

            <div class="container">
                <mat-form-field appearance="standard">
                    <mat-label>Contraseña</mat-label>
                    <input matInput placeholder=" Ingrese su contraseña" [type]="hide ? 'password' : 'text'"
                        formControlName="password" maxlength="30" />
                    <mat-icon matSuffix (click)="hide = !hide">{{
              hide ? "visibility_off" : "visibility"
            }}</mat-icon>
                    <mat-error *ngIf="hasError('password', 'required')">Debe ingresar una contraseña</mat-error>
                    <mat-error *ngIf="hasError('surname', 'maxlength')">El campo tiene un largo mayor al maximo
                        permitido</mat-error>

                    <mat-hint></mat-hint>
                </mat-form-field>
            </div>
        </form>
    </mat-dialog-content>
    <hr />
    <mat-dialog-actions>
        <button mat-raised-button (click)="onCloseConfirm()" [disabled]="form.invalid">Agregar</button>
        <button mat-raised-button (click)="onCloseCancel()">Cancelar</button>
    </mat-dialog-actions>
</div>