<div class="breadcrumb">
    <h1>Tu perfil</h1>
    <ul>
        <li>Administrar </li>
    </ul>
</div>
<div class="separator-breadcrumb border-top"></div>

<div class="row">
    <div class="col-lg-8 col-md-12">
        <!-- CARD ICON -->
        <div class="row">
          
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="card card-icon mb-4">
                    <div class="card-body text-center">
                        <i class="i-Find-User"></i>
                        <p class="text-muted mt-2 mb-2">Estudiantes</p>
                        <p class="text-primary text-24 line-height-1 m-0">4021</p>
                        <button _ngcontent-tkm-c169="" class="btn btn-primary btn-rounded">Ver detalles</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
              <div class="card card-icon mb-4">
                  <div class="card-body text-center">
                      <i class="i-Find-User"></i>
                      <p class="text-muted mt-2 mb-2">Nuevo Usuario </p>
                      <p class="text-primary text-24 line-height-1 m-0"> <br /> </p>
                      <button _ngcontent-tkm-c169="" class="btn btn-primary btn-rounded" (click)="addUser(userAddConfirmModal, $event)" > Agregar </button>
                  </div>
              </div>
          </div>
        </div>
    </div>



   
</div>
