<div class="breadcrumb">
  <h1>Administrar</h1>
  <ul>
    <li>Usuarios</li>
  </ul>
</div>
<div class="separator-breadcrumb border-top"></div>
<div class="module-loader" *ngIf="loading">
    <div class="spinner spinner-bubble spinner-bubble-primary mr-3"></div>
</div>
<div class="row">
  <!-- ICON BG -->
  <div class="col-lg-2 col-md-6 col-sm-6">
    <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
      <div class="card-body text-center">
        <i class="i-Add-User"></i>
        <div class="content">
          <p class="text-muted mt-2 mb-0">Carga Masiva</p>
          <button type="button" class="btn btn-primary btn-rounded m-1">Importar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-6 col-sm-6">
    <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
      <div class="card-body text-center">
        <i class="i-Add-User"></i>
        <div class="content">
          <p class="text-muted mt-2 mb-0">Nuevo Usuario</p>
          <button type="button" class="btn btn-primary btn-rounded m-1" (click)="openAddDialog()">Agregar</button>
        </div>
      </div>
    </div>
  </div>
</div>
    <div fxFlex="50">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" matSortActive="run" matSortDirection="asc"
        matSortDisableClear>
        <ng-container matColumnDef="run">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> R.U.N </th>
          <td mat-cell *matCellDef="let element"> {{element.rut}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="surname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
          <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        <ng-container matColumnDef="profile">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Perfil </th>
          <td mat-cell *matCellDef="let element"> {{formatProfile(element.profile)}} </td>
        </ng-container>
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef> Editar </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn" (click)="editUser(element.id)">
              <mat-icon svgIcon="edit" class="mat-18"></mat-icon>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Eliminar </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn" (click)="deleteUser(element.id)">
              <mat-icon svgIcon="delete" class="mat-18"></mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]" class="mat-elevation-z8">
      </mat-paginator>

