<div class="">

    <div class="row">
        <div class="breadcrumb col-md-9">
            <h1>Dashboard</h1>
            <ul>
                <li><a href="">Dashboard</a></li>
            </ul>


        </div>
    </div>
    <div class="separator-breadcrumb border-top"></div>
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-title">Usuarios</div>
                    <div class="row">
                        <div class="col-lg-8 col-md-12">
                            <!-- CARD ICON -->
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="card card-icon mb-4">
                                    <div class="card-body text-center">
                                        <i class="i-Add-User"></i>
                                        <p class="text-muted mt-2 mb-2">Docentes</p>
                                        <p class="text-primary text-24 line-height-1 m-0">21</p>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="card card-icon mb-4">
                                    <div class="card-body text-center">
                                        <i class="i-Find-User"></i>
                                        <p class="text-muted mt-2 mb-2">Ayudantes</p>
                                        <p class="text-primary text-24 line-height-1 m-0">421</p>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="card card-icon mb-4">
                                    <div class="card-body text-center">
                                        <i class="i-Find-User"></i>
                                        <p class="text-muted mt-2 mb-2">Estudiantes</p>
                                        <p class="text-primary text-24 line-height-1 m-0">4021</p>
                                    </div>
                                </div>
                            </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-title">Usuarios</div>
                    <div class="row">
                        <div class="col-lg-8 col-md-12">
                            <!-- CARD ICON -->
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="card card-icon mb-4">
                                    <div class="card-body text-center">
                                        <i class="i-Add-User"></i>
                                        <p class="text-muted mt-2 mb-2">Docentes</p>
                                        <p class="text-primary text-24 line-height-1 m-0">21</p>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="card card-icon mb-4">
                                    <div class="card-body text-center">
                                        <i class="i-Find-User"></i>
                                        <p class="text-muted mt-2 mb-2">Ayudantes</p>
                                        <p class="text-primary text-24 line-height-1 m-0">421</p>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="card card-icon mb-4">
                                    <div class="card-body text-center">
                                        <i class="i-Find-User"></i>
                                        <p class="text-muted mt-2 mb-2">Estudiantes</p>
                                        <p class="text-primary text-24 line-height-1 m-0">4021</p>
                                    </div>
                                </div>
                            </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-title">Cursos</div>
                    <div class="row">
                        <div class="col-lg-8 col-md-12">
                            <!-- CARD ICON -->
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="card card-icon mb-4">
                                <div class="card-body text-center">
                                    <i class="i-Add-User"></i>
                                    <p class="text-muted mt-2 mb-2">Creados</p>
                                    <p class="text-primary text-24 line-height-1 m-0">221</p>
                                </div>
                                </div>
                            </div>
                        
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="card card-icon mb-4">
                                <div class="card-body text-center">
                                    <i class="i-Find-User"></i>
                                    <p class="text-muted mt-2 mb-2">Activos</p>
                                    <p class="text-primary text-24 line-height-1 m-0">21</p>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="card card-icon mb-4">
                                <div class="card-body text-center">
                                    <i class="i-Find-User"></i>
                                    <p class="text-muted mt-2 mb-2">Terminados</p>
                                    <p class="text-primary text-24 line-height-1 m-0">200</p>
                                </div>
                                </div>
                            </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h6 class="mb-2">Last 7 days traffic status</h6>
                    <p class="text-24 font-weight-light mb-1"><i class="i-Up text-success"></i> 15%</p>
                    <div echarts [options]="" [autoResize]="true" style="height: 60px;"></div>
                </div>
            </div>
    </div>
</div>

